.tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #000;
}

.celda {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #ccc;
}

.chat {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #000;
    width: 300px;
    height: 400px;
    overflow-y: auto;
}

.mensajes {
    margin-bottom: 10px;
    overflow-y: auto;
    height: 300px;
}

.mensajeInput {
    width: calc(100% - 70px);
    margin-right: 5px;
}

.enviarMensajeBtn {
    width: 65px;
}
